#TicTacToeCanvas {
	display: none;
	width: 100%;
	height: 100%;
}

.canvasContainer {
	width: 603px;
	height: 603px;
}

.centredDiv {
	margin: auto;
}

.buttonDiv {
	width: 120px;
}

.inputDiv {
	width: 240px;
	text-align: center;
}

button {
	width: 100%;
}

p{
	text-align: center;
}

#opponentSelectDiv, #difficultySelectionDiv, #currentPlayerTurnDiv, #playerNamesDiv, #turnOrderSelectionDiv {
	display: none;
}