.TTTSquare {
	width: 100;
	height: 100;
}

.TTTImage {
	display: none;
	width: 70px;
	height: 70px;
}

.Wrapper {
	width: 100px;
	height: 100px;
	padding: 14px;
}

#playField {
	width: 300px;
	height: 300px;
	margin: auto;
	
}

.Button_Not_Shown_At_Beggining {
	visibility: hidden;
	
}